@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">

    <h4> </h4>
    <h4> </h4>
    <h1 class="display-4">Кондитерский дом Гермес</h1>
    <h4>
        Кондитерский дом Гермес" — это исключительное место, где искусство
        кондитерского мастерства сочетается с изысканным вкусом, предлагая своим
        клиентам неповторимый опыт наслаждения сладкими изысками.



        Наша компания уделяет особое внимание деталям, начиная с отбора 
        высококачественных ингредиентов и заканчивая тщательной ручной обработкой
        каждого десерта. Мы гордимся своими традициями и стремимся создавать 
        вдохновляющие шедевры, которые радуют не только вкусовые рецепторы, но и 
        визуальное восприятие.



        Наш ассортимент включает в себя эксклюзивные торты, роскошные конфеты и 
        изысканные пирожные, каждое из которых является уникальным произведением искусства. 
        Мы постоянно совершенствуем наши рецепты, чтобы предложить 
        клиентам самые инновационные и восхитительные вкусы.



        "Гермес" не только создает удовольствие для вашего вкуса, но также обеспечивает 
        неповторимую атмосферу элегантности и уюта. Наши кондитеры исследуют 
        новые грани в мире сладкого и всегда готовы порадовать вас необычными 
        композициями и утонченными сочетаниями вкусов.



        Выбирая нас, вы вкладываете в свой праздник частичку магии, 
        где каждый укус становится неповторимым моментом радости. Добро пожаловать
        в "Кондитерский дом Гермес" — где сладкие мечты становятся вкусовой реальностью
    </h4>
</div>
